@import url("./universal.lms.css");

// !!SEPERATION!! APP
.app-container {
  height: 100%;
  width: 100%;
  // padding: 30px;

  .app-landing {
    height: 100%;
    width: 100%;
    display: flex;
    // border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    // SIDE BAR
    .sidebar {
      height: 100%;
      width: 250px; //75px and 300px
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
        // border-bottom: 1px solid var(--whiteDim);

        img {
          height: 55px;
          margin-right: 10px;
        }

        p {
          text-decoration: none;
          color: var(--whiteOne);
          font-size: 8px;
          font-family: "Poppins", sans-serif;
          letter-spacing: 1px;
          font-weight: 600;
          text-transform: capitalize;
        }
      }

      .acc-sys-items {
        display: flex;
        justify-content: center;
        align-items: center;
        // border-top: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 300px;

        p {
          text-align: center;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-family: "Lato", sans-serif;
          line-height: 25px;

          i {
            animation: float 0.5s alternate ease-in-out infinite;
          }
        }
      }

      .menu-items {
        width: 100%;
        height: 100%;
        // background-color: green;

        ul {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          li {
            width: 100%;
            padding: 3.25px 7.5px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 10px;
              width: 100%;
              height: 100%;
              text-decoration: none;
              color: var(--whiteOne);
              font-size: 10px;
              font-family: "Poppins", sans-serif;
              letter-spacing: 1px;
              font-weight: 600;
              text-transform: uppercase;
              // border: 1px solid rgba(255, 255, 255, 0.1);
              transition: 0.1s ease-out;

              &.active {
                background-color: rgba(255, 255, 255, 0.05);
              }

              span {
                width: 70%;
                // padding-left: 40px;

                i {
                  margin-right: 5px;
                }
              }

              &:hover {
                background-color: rgba(255, 255, 255, 0.05);
              }
            }
          }
        }
      }
    }

    // CONTENT
    .page {
      height: 100%;
      width: 100%;
      overflow: hidden;

      //   background-color: green;

      nav {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.5px;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.1);\

        .left {
          height: 100%;
          display: flex;
          align-items: center;
          // justify-content: space-between;
          // width: 250px;

          li {
            list-style-type: none;

            a {
              cursor: pointer;
              text-decoration: none;
              color: rgba(255, 255, 255, 0.5);
              transition: 0.2s ease-out;
              margin-right: 25px;

              img {
                height: 30px;
                opacity: 0.75;
                transition: 0.2s ease-out;

                &:hover {
                  opacity: 1;
                }
              }

              &.active {
                color: var(--whiteOne);
              }

              &:hover {
                color: var(--whiteOne);
              }
            }
          }
        }

        .right {
          height: 100%;
          display: flex;
          align-items: center;

          .userInfo {
            position: absolute;
            z-index: 1000;
            width: 350px;
            // height: 475px;
            top: 85px;
            right: 50px;
            border-radius: 8px;
            background-color: #202020;
            box-shadow: var(--softShadows);
            padding: 30px 25px;
            transition: opacity 0.2s ease-out;
            display: none;

            .header {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              h2 {
                color: var(--whiteOne);
                font-size: 14px;
                letter-spacing: 0.5px;
                font-family: "Poppins", sans-serif;
              }

              .closeBtn {
                color: var(--whiteOne);
                font-size: 14px;
                letter-spacing: 0.5px;
                font-family: "Poppins", sans-serif;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.25);
                transition: 0.2s ease-out;

                &:hover {
                  color: var(--whiteOne);
                }
              }
            }

            .line {
              width: 100%;
              height: 1px;
              background-color: rgba(255, 255, 255, 0.1);
              margin: 20px 0;
            }

            ul {
              width: 100%;
              display: flex;
              flex-direction: column;

              li {
                width: 100%;
                padding: 10px 0;
                display: flex;

                a {
                  text-decoration: none;
                  color: rgba(255, 255, 255, 0.5);
                  transition: 0.2s ease-out;

                  &:hover {
                    color: var(--whiteOne);
                  }
                }
              }

              // &.bottom-row {
              //   flex-direction: row;
              //   justify-content: center;

              //   li {
              //     width: auto;
              //     padding: 0px 10px;
              //   }
              // }
            }
          }

          .modal_background {
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-color: #121212;
            display: none;
          }

          .userImage {
            overflow: hidden;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 2px solid var(--whiteDim);
            transition: 0.2s ease-out;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            &:hover {
              border: 2px solid var(--whiteOne);
            }

            &.active {
              border: 2px solid var(--whiteOne);
            }
          }

          .vertical_line {
            height: 30px;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.1);
            margin: 0 25px;
          }

          .notify {
            margin-right: 25px;
            // color: var(--whiteOne);
            color: rgba(255, 255, 255, 0.5);
            font-size: 12px;
            transition: 0.2s ease-out;

            &:hover {
              color: var(--whiteOne);
            }

            &.active {
              color: var(--whiteOne);
            }
          }

          .notifications {
            position: absolute;
            z-index: 1000;
            width: 350px;
            // height: 475px;
            top: 85px;
            right: 200px;
            border-radius: 8px;
            background-color: #202020;
            box-shadow: var(--softShadows);
            padding: 30px 25px;
            transition: opacity 0.2s ease-out;
            display: none;

            .line {
              width: 100%;
              height: 1px;
              background-color: rgba(255, 255, 255, 0.1);
              margin: 20px 0;
            }

            .no_notif {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 15px 0;
              font-size: 10px;
              font-family: "Poppins", sans-serif;
              color: rgba(255, 255, 255, 0.5);
            }

            .header {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              h2 {
                color: var(--whiteOne);
                font-size: 14px;
                letter-spacing: 0.5px;
                font-family: "Poppins", sans-serif;
              }

              .closeBtn {
                color: var(--whiteOne);
                font-size: 14px;
                letter-spacing: 0.5px;
                font-family: "Poppins", sans-serif;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.25);
                transition: 0.2s ease-out;

                &:hover {
                  color: var(--whiteOne);
                }
              }
            }
          }

          form {
            display: flex;
            align-items: center;

            input {
              text-align: right;
              outline: none;
              height: 30px;
              width: 175px;
              border-radius: 40px 0 0 40px;
              background-color: var(--whiteDim);
              // background-color: transparent;
              letter-spacing: 1px;
              padding: 20px 10px 20px 20px;
              border: none;
              font-size: 12px;
              color: rgba(255, 255, 255, 0.5);
              font-family: "Poppins", sans-serif;
            }

            button {
              padding: 20px 20px 20px 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 30px;
              width: 30px;
              border-radius: 0 40px 40px 0;
              background-color: var(--whiteDim);
              border: none;
              font-size: 12px;
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
    }
  }
}

.content {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  overflow: hidden;
  overflow-y: auto;

  .banner {
    position: relative;
    width: 100%;
    height: auto;
    // border: 1px solid var(--whiteDim);
    margin-bottom: 50px;
    border-radius: 10px;
    // background: var(--whiteOne);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)),
      url("../Images/BackgroundPatterns/swirl_pattern.webp");
    // background-position: center;
    background-repeat: repeat;
    // background-size: cover;
    box-shadow: var(--insetSoftShadows);
    display: flex;
    padding: 50px 75px;
    align-items: center;

    .welcome {
      //   position: absolute;
      //   top: 50px;
      width: 400px;
      // background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      // border: 1px solid var(--whiteDim);

      h3 {
        color: var(--whiteOne);
        font-size: 30px;
        letter-spacing: 0.5px;
        font-family: "Lato", sans-serif;
        font-weight: 900;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      // img {
      //   width: 100px;
      //   height: 100px;
      //   border: 3px solid rgba(255, 255, 255, 0.5);
      //   border-radius: 50%;
      //   object-fit: cover;
      // }

      p {
        margin: 10px 0;
        color: var(--whiteOne);
        font-size: 14px;
        letter-spacing: 0.5px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;

        // span {
        //   font-size: 12px;
        // }

        &.subTitle {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
      }

      button {
        margin-top: 45px;
        //   cursor: pointer;
        width: 100px;
        height: 40px;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: var(--insetSoftShadows);
        color: var(--whiteOne);
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        letter-spacing: 0.5px;
        background: transparent;
        transition: 0.2s ease;

        i {
          animation: float 0.5s alternate ease-in-out infinite;
        }
      }
    }
  }

  .course-container {
    width: 100%;
    height: auto;

    .section-links {
      font-family: "Poppins", sans-serif;
      margin-bottom: 25px;

      a {
        font-size: 12px;
        cursor: pointer;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
        transition: 0.2s ease-out;
        letter-spacing: 0.5px;
        margin-right: 20px;
        border-bottom: 3px solid transparent;
        padding: 10px 0;

        img {
          height: 30px;
          opacity: 0.75;
          transition: 0.2s ease-out;

          &:hover {
            opacity: 1;
          }
        }

        &.active {
          color: var(--whiteOne);
          border-bottom: 3px solid var(--whiteDim);
        }

        &:hover {
          color: var(--whiteOne);
          //   border-bottom: 3px solid var(--whiteDim);
        }
      }
    }

    .table {
      //   border: 1px solid var(--whiteDim);
      width: 100%;
      border-radius: 10px;

      // .line {
      //   height: 1px;
      //   width: 100%;
      //   background-color: var(--whiteDim);
      //   margin: 20px 0;
      // }

      .courses {
        border: 1px solid transparent;
        transition: 0.2s ease-out;
        cursor: pointer;

        &:hover {
          border: 1px solid var(--whiteDim);
        }
      }

      .course-table-head {
        margin: 30px 0;
        background-color: var(--whiteDim);
      }

      .tr {
        // padding: 0;
        // padding: 15px 0;
        width: 100%;
        display: flex;
        border-radius: 5px;

        .th {
          //   width: 100%;
          height: 60px;
          display: flex;
          align-items: center;
          padding: 20px;
          text-align: left;
          border: 1px solid transparent;
          font-size: 12px;
          font-weight: 700;
          font-family: "Poppins", sans-serif;
          letter-spacing: 0.5px;
        }

        .td {
          //   width: 100%;
          display: flex;
          align-items: center;
          padding: 20px;
          height: 75px;
          text-align: left;
          border: 1px solid transparent;
          font-size: 12px;
          font-weight: 300;
          font-family: "Poppins", sans-serif;
          letter-spacing: 0.5px;

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
          }
        }

        .number {
          width: 5%;
          justify-content: center;
          // background-color: red;
        }

        .title-thumbnail {
          width: 60%;
        }

        .category {
          width: 20%;
        }

        .status {
          width: 15%;
        }
      }
    }
  }
}
