@import url("./universal.lms.css");

// div {
//   //   border: 1px solid rgba(255, 255, 255, 0.1);
// }

// LOGIN
.loginPageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // TODO
  display: none;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    p {
      text-align: center;
      font-size: 8px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: "Lato", sans-serif;
      line-height: 20px;

      i {
        animation: float 0.5s alternate ease-in-out infinite;
      }
    }

    img {
      height: 50px;
      margin-right: 25px;
    }
  }

  #loginForm {
    width: 375px;
    // height: 500px;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid var(--whiteDim);
    padding: 40px;

    input {
      width: 100%;
      padding: 15px;
      margin: 10px 0;
      background-color: var(--blackOne);
      border: 1px solid var(--whiteDim);
      color: var(--whiteOne);
      outline: 0;
      border-radius: 5px;
      font-size: 11px;
      letter-spacing: 1px;
      font-family: "Poppins", sans-serif;

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    h3,
    p {
      color: var(--green);
    }

    h3 {
      margin-top: 35px;
    }

    p {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 14px;
    }

    .authRow {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 40px;
      justify-content: space-between;

      button {
        margin-top: 15px;
        cursor: pointer;
        padding: 11px 40px;
        outline: none;
        border-radius: 5px;
        border: 1px solid var(--whiteDim);
        color: rgba(255, 255, 255, 0.5);
        font-family: "Poppins", sans-serif;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background: transparent;
        transition: 0.2s ease;

        &:hover {
          background: var(--whiteDim);
          color: var(--whiteOne);
        }
      }

      a {
        text-decoration: none;
        font-size: 12px;
        // margin-left: 10px;
        color: rgba(255, 255, 255, 0.5);

        font-weight: bold;
        transition: 0.3s;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .powered {
      margin-top: 40px;
      text-align: center;
      font-size: 11px;
      // font-weight: bold;
      font-family: "Lato", sans-serif;
      color: rgba(255, 255, 255, 0.5);
      letter-spacing: 0.5px;

      i {
        margin-left: 3px;
      }
    }
  }
}

// !!SEPERATION!! APP
.app-container {
  height: 100%;
  width: 100%;
  // padding: 30px;

  .app-landing {
    height: 100%;
    width: 100%;
    display: flex;
    // border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    // SIDE BAR
    .sidebar {
      height: 100%;
      width: 250px; //75px and 300px
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
        // border-bottom: 1px solid var(--whiteDim);

        img {
          height: 55px;
          margin-right: 10px;
        }

        p {
          text-decoration: none;
          color: var(--whiteOne);
          font-size: 8px;
          font-family: "Poppins", sans-serif;
          letter-spacing: 1px;
          font-weight: 600;
          text-transform: capitalize;
        }
      }

      .acc-sys-items {
        display: flex;
        justify-content: center;
        align-items: center;
        // border-top: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 300px;

        p {
          text-align: center;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-family: "Lato", sans-serif;
          line-height: 25px;

          i {
            animation: float 0.5s alternate ease-in-out infinite;
          }
        }
      }

      .menu-items {
        width: 100%;
        height: 100%;
        // background-color: green;

        ul {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          li {
            width: 100%;
            padding: 3.25px 7.5px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 10px;
              width: 100%;
              height: 100%;
              text-decoration: none;
              color: var(--whiteOne);
              font-size: 10px;
              font-family: "Poppins", sans-serif;
              letter-spacing: 1px;
              font-weight: 600;
              text-transform: uppercase;
              // border: 1px solid rgba(255, 255, 255, 0.1);
              transition: 0.1s ease-out;

              &.active {
                background-color: rgba(255, 255, 255, 0.05);
              }

              span {
                width: 70%;
                // padding-left: 40px;

                i {
                  margin-right: 5px;
                }
              }

              &:hover {
                background-color: rgba(255, 255, 255, 0.05);
              }
            }
          }
        }
      }
    }

    // CONTENT
    .page {
      height: 100%;
      width: 100%;
      overflow: hidden;

      //   background-color: green;

      nav {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.5px;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.1);\

        .left {
          height: 100%;
          display: flex;
          align-items: center;
          // justify-content: space-between;
          // width: 250px;

          li {
            list-style-type: none;

            a {
              cursor: pointer;
              text-decoration: none;
              color: rgba(255, 255, 255, 0.5);
              transition: 0.2s ease-out;
              margin-right: 25px;

              img {
                height: 30px;
                opacity: 0.75;
                transition: 0.2s ease-out;

                &:hover {
                  opacity: 1;
                }
              }

              &.active {
                color: var(--whiteOne);
              }

              &:hover {
                color: var(--whiteOne);
              }
            }
          }
        }

        .right {
          height: 100%;
          display: flex;
          align-items: center;

          .userInfo {
            position: absolute;
            z-index: 1000;
            width: 350px;
            // height: 475px;
            top: 85px;
            right: 50px;
            border-radius: 8px;
            background-color: #202020;
            box-shadow: var(--softShadows);
            padding: 30px 25px;
            transition: opacity 0.2s ease-out;
            display: none;

            .header {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              h2 {
                color: var(--whiteOne);
                font-size: 14px;
                letter-spacing: 0.5px;
                font-family: "Poppins", sans-serif;
              }

              .closeBtn {
                color: var(--whiteOne);
                font-size: 14px;
                letter-spacing: 0.5px;
                font-family: "Poppins", sans-serif;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.25);
                transition: 0.2s ease-out;

                &:hover {
                  color: var(--whiteOne);
                }
              }
            }

            .line {
              width: 100%;
              height: 1px;
              background-color: rgba(255, 255, 255, 0.1);
              margin: 20px 0;
            }

            ul {
              width: 100%;
              display: flex;
              flex-direction: column;

              li {
                width: 100%;
                padding: 10px 0;
                display: flex;

                a {
                  text-decoration: none;
                  color: rgba(255, 255, 255, 0.5);
                  transition: 0.2s ease-out;

                  &:hover {
                    color: var(--whiteOne);
                  }
                }
              }

              // &.bottom-row {
              //   flex-direction: row;
              //   justify-content: center;

              //   li {
              //     width: auto;
              //     padding: 0px 10px;
              //   }
              // }
            }
          }

          .modal_background {
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-color: #121212;
            display: none;
          }

          .userImage {
            overflow: hidden;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 2px solid var(--whiteDim);
            transition: 0.2s ease-out;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            &:hover {
              border: 2px solid var(--whiteOne);
            }

            &.active {
              border: 2px solid var(--whiteOne);
            }
          }

          .vertical_line {
            height: 30px;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.1);
            margin: 0 25px;
          }

          .notify {
            margin-right: 25px;
            // color: var(--whiteOne);
            color: rgba(255, 255, 255, 0.5);
            font-size: 12px;
            transition: 0.2s ease-out;

            &:hover {
              color: var(--whiteOne);
            }

            &.active {
              color: var(--whiteOne);
            }
          }

          .notifications {
            position: absolute;
            z-index: 1000;
            width: 350px;
            // height: 475px;
            top: 85px;
            right: 200px;
            border-radius: 8px;
            background-color: #202020;
            box-shadow: var(--softShadows);
            padding: 30px 25px;
            transition: opacity 0.2s ease-out;
            display: none;

            .line {
              width: 100%;
              height: 1px;
              background-color: rgba(255, 255, 255, 0.1);
              margin: 20px 0;
            }

            .no_notif {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 15px 0;
              font-size: 10px;
              font-family: "Poppins", sans-serif;
              color: rgba(255, 255, 255, 0.5);
            }

            .header {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              h2 {
                color: var(--whiteOne);
                font-size: 14px;
                letter-spacing: 0.5px;
                font-family: "Poppins", sans-serif;
              }

              .closeBtn {
                color: var(--whiteOne);
                font-size: 14px;
                letter-spacing: 0.5px;
                font-family: "Poppins", sans-serif;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.25);
                transition: 0.2s ease-out;

                &:hover {
                  color: var(--whiteOne);
                }
              }
            }
          }

          form {
            display: flex;
            align-items: center;

            input {
              text-align: right;
              outline: none;
              height: 30px;
              width: 175px;
              border-radius: 40px 0 0 40px;
              background-color: var(--whiteDim);
              // background-color: transparent;
              letter-spacing: 1px;
              padding: 20px 10px 20px 20px;
              border: none;
              font-size: 12px;
              color: rgba(255, 255, 255, 0.5);
              font-family: "Poppins", sans-serif;
            }

            button {
              padding: 20px 20px 20px 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 30px;
              width: 30px;
              border-radius: 0 40px 40px 0;
              background-color: var(--whiteDim);
              border: none;
              font-size: 12px;
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }

      .content {
        scroll-behavior: smooth;
        width: 100%;
        height: 100%;
        padding: 0 50px;
        overflow: hidden;
        overflow-y: auto;

        .featured {
          position: relative;
          width: 100%;
          height: 350px;
          // border: 1px solid var(--whiteDim);
          margin-bottom: 50px;
          border-radius: 10px;
          background: url("../Images/Default_Thumbnails/fallback_banner_image_udlite.jpg");
          background-position: center;
          background-size: cover;
          display: flex;
          padding: 50px;
          align-items: center;

          .welcome {
            position: absolute;
            bottom: 50px;
            width: 400px;
            // background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;

            h3 {
              color: rgba(0, 0, 0, 0.75);
              font-size: 25px;
              letter-spacing: 0.5px;
              font-family: "Poppins", sans-serif;
            }

            p {
              margin: 15px 0;
              color: rgba(0, 0, 0, 0.75);
              font-size: 14px;
              letter-spacing: 0.5px;
              font-family: "Poppins", sans-serif;
            }

            button {
              margin-top: 15px;
              cursor: pointer;
              padding: 12px 25px;
              outline: none;
              border-radius: 5px;
              border: 1px solid rgba(0, 0, 0, 0.75);
              color: rgba(0, 0, 0, 0.75);
              font-family: "Poppins", sans-serif;
              font-size: 12px;
              letter-spacing: 0.5px;
              background: transparent;
              transition: 0.2s ease;

              &:hover {
                background: rgba(0, 0, 0, 0.75);
                color: var(--whiteOne);
              }
            }
          }
        }

        .all-courses {
          width: 100%;
          height: auto;
          border-radius: 10px;
          margin-bottom: 50px;

          //   border: 1px solid var(--whiteDim);

          .title {
            display: flex;
            width: 100%;
            height: 50px;
            // border: 1px solid var(--whiteDim);
            align-items: center;

            .heading {
              text-decoration: none;
              color: var(--whiteOne);
              font-size: 12px;
              font-family: "Poppins", sans-serif;
              letter-spacing: 0.5px;
            }
          }

          .courses {
            width: 100%;
            // height: 500px;
            overflow-y: auto;
            // border: 1px solid var(--whiteDim);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex: 1;

            .course-row {
              width: 100%;
              display: flex;
              // border: 1px solid green;
              justify-content: space-between;

              .course {
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                width: calc(95% / 3);
                // border: 1px solid greenyellow;
                border-radius: 10px;
                margin-bottom: 27.5px;
                cursor: pointer;

                .thumbnail {
                  overflow: hidden;
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  width: 100%;
                  height: 175px;
                  border-radius: 10px;
                  // border: 1px solid var(--whiteDim);
                  box-shadow: var(--insetHardShadows);
                  transition: 0.3s ease;

                  .overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: 0.3s ease;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: var(--insetHardShadows);

                    i {
                      opacity: 0;
                    }

                    &:hover {
                      background-color: rgba(0, 0, 0, 0.75);
                    }

                    &:hover i {
                      opacity: 1;
                      animation: L-R 0.5s alternate ease-in-out infinite;
                    }
                  }

                  .cs_bar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 45px;
                    border-top: 1px solid var(--whiteDim);
                    border-radius: 0 0 10px 10px;
                    background-color: rgba(0, 0, 0, 0.75);
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 1px;
                    color: var(--whiteOne);
                    font-family: "Poppins", sans-serif;
                  }

                  // &:hover {
                  //   // background: rgba(255, 255, 255, 0.05);
                  // }
                }

                .info {
                  width: 100%;
                  border-radius: 10px;
                  // border: 1px solid var(--whiteDim);
                  padding-top: 40px;

                  h2 {
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    color: var(--whiteOne);
                    margin-bottom: 15px;
                    font-family: "Lato", sans-serif;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                    -webkit-box-orient: vertical;
                  }

                  .description {
                    width: 100%;
                    font-size: 12px;
                    letter-spacing: 0.5px;
                    color: rgba(255, 255, 255, 0.5);

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* number of lines to show */
                    -webkit-box-orient: vertical;
                  }

                  .creator {
                    margin-top: 10px;
                    width: 100%;
                    font-size: 9px;
                    letter-spacing: 1px;
                    font-weight: bold;
                    color: rgba(255, 255, 255, 0.9);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// #homePage {
//   // display: none;
// }

.courseContentContainer {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  overflow: hidden;
  overflow-y: auto;

  .banner {
    position: relative;
    width: 100%;
    height: 375px;
    // border: 1px solid var(--whiteDim);
    margin-bottom: 50px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0)),
      url("../Images/Default_Thumbnails/pexels-anna-nekrashevich-6801648.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: var(--insetSoftShadows);
    display: flex;
    padding: 75px;
    align-items: center;

    .welcome {
      position: absolute;
      top: 50px;
      width: 400px;
      // background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      // border: 1px solid var(--whiteDim);

      h3 {
        color: var(--whiteOne);
        font-size: 25px;
        letter-spacing: 0.5px;
        font-family: "Poppins", sans-serif;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      // img {
      //   width: 100px;
      //   height: 100px;
      //   border: 3px solid rgba(255, 255, 255, 0.5);
      //   border-radius: 50%;
      //   object-fit: cover;
      // }

      p {
        margin: 25px 0;
        color: var(--whiteOne);
        font-size: 14px;
        letter-spacing: 0.5px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;

        // span {
        //   font-size: 12px;
        // }

        &.categories {
          color: rgba(255, 255, 255, 0.75);
          font-size: 11px;
          margin: 10px 0;
          letter-spacing: 1px;

          .mainPage,
          .category {
            text-transform: capitalize;
            cursor: pointer;
            transition: 0.2s ease-out;
            font-weight: 400;
            &:hover {
              color: var(--whiteOne);
            }
          }
          .seperator {
            padding: 0 5px;
          }
        }

        &.subTitle {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
      }

      button {
        margin-top: 15px;
        //   cursor: pointer;
        width: 100px;
        height: 40px;
        outline: none;
        border-radius: 5px;
        border: 1px solid var(--whiteDim);
        color: var(--whiteOne);
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        letter-spacing: 0.5px;
        background: transparent;
        transition: 0.2s ease;

        i {
          animation: float 0.5s alternate ease-in-out infinite;
        }
      }
    }
  }

  .enrolled {
    position: relative;
    width: 100%;
    // border: 1px solid var(--whiteDim);
    border-radius: 10px;
    display: flex;
    font-family: "Poppins", sans-serif;

    .left-side {
      width: calc(2 * (100% / 3));
      height: 100%;
      padding: 25px;
      padding-left: 0;
      // border: 1px solid var(--whiteDim);

      .box {
        width: 100%;
        border: 1px solid var(--whiteDim);
        padding: 40px;
        margin-bottom: 25px;
        border-radius: 10px;

        h2 {
          font-family: "Poppins", sans-serif;
          letter-spacing: 1px;
          padding-bottom: 20px;
          width: 100%;
          border-bottom: 1px solid var(--whiteDim);
          margin-bottom: 20px;
        }

        h3 {
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          letter-spacing: 0.5px;
          padding-bottom: 20px;
          width: 100%;
          border-bottom: 1px solid var(--whiteDim);
          margin-bottom: 20px;
        }

        .txt {
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0.5px;
        }

        video {
          width: 100%;
          height: 300px;
          border-radius: 7px;

          &[poster] {
            width: 100%;
            object-fit: cover;
          }
        }

        ul {
          width: 100%;
          padding-left: 17px;

          li {
            width: 75%;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.5px;
            margin: 10px 0;
            list-style-type: circle;
          }
        }

        .course-description {
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0.5px;
          line-height: 25px;
        }
      }

      .instructor {
        margin-top: 50px;
        width: 100%;

        font-family: "Poppins", sans-serif;
        display: flex;
        align-items: center;

        .info {
          width: 50%;
        }

        .authorNotes {
          width: 50%;
          border: 1px solid var(--whiteDim);
          padding: 20px;
          font-weight: 300;
          letter-spacing: 0.5px;
          line-height: 25px;
          font-size: 11px;
          border-radius: 5px;
          height: 250px;
          font-style: italic;
          overflow: hidden;

          p {
            width: 100%;
            height: 100%;
            overflow-y: auto;
          }
        }

        .createdBy {
          color: rgba(255, 255, 255, 0.75);
          font-size: 11px;
          margin: 20px 0;
          letter-spacing: 1px;
        }

        .author {
          font-family: "Poppins", sans-serif;
          margin: 5px 0;
        }

        .accolades {
          font-weight: 300;
          font-size: 14px;
          letter-spacing: 0.5px;
        }

        .authorImg {
          margin-top: 20px;
          width: 75px;
          height: 75px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .report {
        text-decoration: line-through;
        margin-top: 50px;
        cursor: pointer;
        // width: 100%;
        // height: 50px;
        padding: 14px 25px;
        color: rgb(161, 0, 0);
        border: 1px dashed var(--whiteDim);
        border-radius: 5px;
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        outline: 0;
        text-transform: uppercase;
        background-color: transparent;
        transition: 0.2s ease-out;

        i {
          margin-right: 5px;
        }

        &:hover {
          background-color: rgb(161, 0, 0);
          color: var(--blackOne);
        }
      }
    }

    .right-side {
      display: flex;
      flex-direction: column;
      width: calc(100% / 3);
      padding: 25px;
      height: auto;
      padding-right: 0;

      .course-content-list {
        width: 100%;
        border: 1px solid var(--whiteDim);
        padding: 40px;
        // margin: 25px 0;
        font-size: 14px;
        border-radius: 10px;
        text-transform: capitalize;

        h3 {
          font-family: "Poppins", sans-serif;
          letter-spacing: 0.5px;
          padding-bottom: 20px;
          width: 100%;
          border-bottom: 1px solid var(--whiteDim);
          margin-bottom: 20px;
        }

        .content-set {
          width: 100%;
          height: 300px;
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          // height: 300px;
          // border: 1px solid var(--whiteDim);

          .content-button {
            cursor: pointer;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 11px;
            font-weight: 300;
            letter-spacing: 0.5px;
            margin: 3px 0;
            font-family: "Poppins", sans-serif;
            border: 1px solid transparent;
            padding: 15px 10px;
            border-radius: 5px;
            transition: 0.3s ease-out;

            &:hover {
              background-color: var(--whiteDim);
            }

            &.active {
              background-color: var(--whiteDim);
            }

            .icon {
              display: flex;
              align-items: center;
              // justify-content: center;
              width: 25px;
              height: 100%;

              input[type="checkbox"] {
                transition: 0.3s ease-out;
                cursor: pointer;
              }
            }

            p {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 10px;
        font-size: 14px;
        letter-spacing: 1px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        outline: 0;
        text-transform: capitalize;
        background-color: var(--whiteDim);
        border: 0;
        color: var(--blackOne);
        padding: 15px;

        i {
          margin-right: 5px;
        }
      }
    }
  }

  // !!SEPERATION!!
  .notEnrolled {
    position: relative;
    width: 100%;
    // height: 500px;
    // border: 1px solid var(--whiteDim);
    border-radius: 10px;
    display: flex;
    font-family: "Poppins", sans-serif;
    display: none;

    .left-side {
      width: calc(2 * (100% / 3));
      height: 100%;
      padding: 25px;
      padding-left: 0;

      .box {
        width: 100%;
        border: 1px solid var(--whiteDim);
        padding: 40px;
        margin-bottom: 25px;
        border-radius: 10px;

        h2 {
          font-family: "Poppins", sans-serif;
          letter-spacing: 0.5px;
          padding-bottom: 20px;
          width: 100%;
          border-bottom: 1px solid var(--whiteDim);
          margin-bottom: 20px;
        }

        ul {
          width: 100%;
          padding-left: 17px;

          li {
            width: 75%;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.5px;
            margin: 10px 0;
            list-style-type: circle;
          }
        }

        .course-description {
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0.5px;
          line-height: 25px;
        }

        .obj-set {
          width: 100%;
          display: flex;
          flex-direction: column;
          // height: 300px;
          // border: 1px solid var(--whiteDim);

          .objective {
            width: 75%;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.5px;
            margin: 10px 0;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-right: 20px;
              height: 100%;
            }

            p {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .instructor {
        margin-top: 50px;
        width: 100%;

        font-family: "Poppins", sans-serif;
        display: flex;
        align-items: center;

        .info {
          width: 50%;
        }

        .authorNotes {
          width: 50%;
          border: 1px solid var(--whiteDim);
          padding: 20px;
          font-weight: 300;
          letter-spacing: 0.5px;
          line-height: 25px;
          font-size: 11px;
          border-radius: 5px;
          height: 250px;
          font-style: italic;
          overflow: hidden;

          p {
            width: 100%;
            height: 100%;
            overflow-y: auto;
          }
        }

        .createdBy {
          color: rgba(255, 255, 255, 0.75);
          font-size: 11px;
          margin: 20px 0;
          letter-spacing: 1px;
        }

        .author {
          font-family: "Poppins", sans-serif;
          margin: 5px 0;
        }

        .accolades {
          font-weight: 300;
          font-size: 14px;
          letter-spacing: 0.5px;
        }

        .authorImg {
          margin-top: 20px;
          width: 75px;
          height: 75px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .report {
        text-decoration: line-through;
        margin-top: 50px;
        cursor: pointer;
        // width: 100%;
        // height: 50px;
        padding: 14px 25px;
        color: rgb(161, 0, 0);
        border: 1px dashed var(--whiteDim);
        border-radius: 5px;
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        outline: 0;
        text-transform: uppercase;
        background-color: transparent;
        transition: 0.2s ease-out;

        i {
          margin-right: 5px;
        }

        &:hover {
          background-color: rgb(161, 0, 0);
          color: var(--blackOne);
        }
      }
    }

    .right-side {
      display: flex;
      flex-direction: column;
      // height: 200px;
      width: calc(100% / 3);
      // border-left: 1px dashed var(--whiteDim);
      padding: 25px;
      padding-right: 0;

      .includes {
        width: 100%;
        border: 1px solid var(--whiteDim);
        padding: 40px;
        // margin: 25px 0;
        font-size: 14px;
        border-radius: 10px;
        text-transform: capitalize;

        h3 {
          font-family: "Poppins", sans-serif;
          letter-spacing: 0.5px;
          padding-bottom: 20px;
          width: 100%;
          border-bottom: 1px solid var(--whiteDim);
          margin-bottom: 20px;
        }

        .include-set {
          width: 100%;
          display: flex;
          flex-direction: column;
          // height: 300px;
          // border: 1px solid var(--whiteDim);

          .include-item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 11px;
            font-weight: 300;
            letter-spacing: 0.5px;
            margin: 10px 0;
            font-family: "Poppins", sans-serif;

            .icon {
              display: flex;
              align-items: center;
              // justify-content: center;
              width: 25px;
              height: 100%;
            }

            p {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 100%;
        margin-bottom: 20px;
        height: 50px;
        // color: var(--whiteOne);
        border-radius: 10px;
        font-size: 14px;
        letter-spacing: 1px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        outline: 0;
        text-transform: capitalize;
        border: 0;
        transition: 0.2s ease-out;

        &.enroll-enabled {
          background-color: transparent;
          border: 1px solid var(--whiteDim);
          color: var(--whiteOne);

          i {
            padding-right: 90px;
            font-size: 12px;
            opacity: 0;
            transition: 0.2s ease-out;
            position: absolute;
            animation: L-R 0.5s alternate ease-in-out infinite;
          }

          &:hover {
            border: 1px solid var(--muddyBlue);
            background-color: var(--muddyBlue);
          }

          &:hover i {
            opacity: 1;
          }
        }
      }
    }
  }
}

#homePage,
#userCourses {
  display: none;
}
