@import url("./universal.lms.css");
.loginPageContainer {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.loginPageContainer .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.loginPageContainer .title p {
  text-align: center;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  line-height: 20px;
}

.loginPageContainer .title p i {
  -webkit-animation: float 0.5s alternate ease-in-out infinite;
          animation: float 0.5s alternate ease-in-out infinite;
}

.loginPageContainer .title img {
  height: 50px;
  margin-right: 25px;
}

.loginPageContainer #loginForm {
  width: 375px;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid var(--whiteDim);
  padding: 40px;
}

.loginPageContainer #loginForm input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background-color: var(--blackOne);
  border: 1px solid var(--whiteDim);
  color: var(--whiteOne);
  outline: 0;
  border-radius: 5px;
  font-size: 11px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

.loginPageContainer #loginForm input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.loginPageContainer #loginForm input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.loginPageContainer #loginForm input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.loginPageContainer #loginForm input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.loginPageContainer #loginForm h3,
.loginPageContainer #loginForm p {
  color: var(--green);
}

.loginPageContainer #loginForm h3 {
  margin-top: 35px;
}

.loginPageContainer #loginForm p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.loginPageContainer #loginForm .authRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loginPageContainer #loginForm .authRow button {
  margin-top: 15px;
  cursor: pointer;
  padding: 11px 40px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--whiteDim);
  color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.loginPageContainer #loginForm .authRow button:hover {
  background: var(--whiteDim);
  color: var(--whiteOne);
}

.loginPageContainer #loginForm .authRow a {
  text-decoration: none;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.loginPageContainer #loginForm .authRow a:hover {
  text-decoration: underline;
}

.loginPageContainer #loginForm .powered {
  margin-top: 40px;
  text-align: center;
  font-size: 11px;
  font-family: "Lato", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.5px;
}

.loginPageContainer #loginForm .powered i {
  margin-left: 3px;
}

.app-container {
  height: 100%;
  width: 100%;
}

.app-container .app-landing {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

.app-container .app-landing .sidebar {
  height: 100%;
  width: 250px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.app-container .app-landing .sidebar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 100%;
}

.app-container .app-landing .sidebar header img {
  height: 55px;
  margin-right: 10px;
}

.app-container .app-landing .sidebar header p {
  text-decoration: none;
  color: var(--whiteOne);
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: capitalize;
}

.app-container .app-landing .sidebar .acc-sys-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
}

.app-container .app-landing .sidebar .acc-sys-items p {
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  line-height: 25px;
}

.app-container .app-landing .sidebar .acc-sys-items p i {
  -webkit-animation: float 0.5s alternate ease-in-out infinite;
          animation: float 0.5s alternate ease-in-out infinite;
}

.app-container .app-landing .sidebar .menu-items {
  width: 100%;
  height: 100%;
}

.app-container .app-landing .sidebar .menu-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-container .app-landing .sidebar .menu-items ul li {
  width: 100%;
  padding: 3.25px 7.5px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .app-landing .sidebar .menu-items ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--whiteOne);
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.app-container .app-landing .sidebar .menu-items ul li a.active {
  background-color: rgba(255, 255, 255, 0.05);
}

.app-container .app-landing .sidebar .menu-items ul li a span {
  width: 70%;
}

.app-container .app-landing .sidebar .menu-items ul li a span i {
  margin-right: 5px;
}

.app-container .app-landing .sidebar .menu-items ul li a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.app-container .app-landing .page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-container .app-landing .page nav {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

.app-container .app-landing .page nav .left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .app-landing .page nav .left li {
  list-style-type: none;
}

.app-container .app-landing .page nav .left li a {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  margin-right: 25px;
}

.app-container .app-landing .page nav .left li a img {
  height: 30px;
  opacity: 0.75;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.app-container .app-landing .page nav .left li a img:hover {
  opacity: 1;
}

.app-container .app-landing .page nav .left li a.active {
  color: var(--whiteOne);
}

.app-container .app-landing .page nav .left li a:hover {
  color: var(--whiteOne);
}

.app-container .app-landing .page nav .right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .app-landing .page nav .right .userInfo {
  position: absolute;
  z-index: 1000;
  width: 350px;
  top: 85px;
  right: 50px;
  border-radius: 8px;
  background-color: #202020;
  -webkit-box-shadow: var(--softShadows);
          box-shadow: var(--softShadows);
  padding: 30px 25px;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  display: none;
}

.app-container .app-landing .page nav .right .userInfo .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .app-landing .page nav .right .userInfo .header h2 {
  color: var(--whiteOne);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.app-container .app-landing .page nav .right .userInfo .header .closeBtn {
  color: var(--whiteOne);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.app-container .app-landing .page nav .right .userInfo .header .closeBtn:hover {
  color: var(--whiteOne);
}

.app-container .app-landing .page nav .right .userInfo .line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px 0;
}

.app-container .app-landing .page nav .right .userInfo ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-container .app-landing .page nav .right .userInfo ul li {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-container .app-landing .page nav .right .userInfo ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.app-container .app-landing .page nav .right .userInfo ul li a:hover {
  color: var(--whiteOne);
}

.app-container .app-landing .page nav .right .modal_background {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.app-container .app-landing .page nav .right .userImage {
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--whiteDim);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.app-container .app-landing .page nav .right .userImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app-container .app-landing .page nav .right .userImage:hover {
  border: 2px solid var(--whiteOne);
}

.app-container .app-landing .page nav .right .userImage.active {
  border: 2px solid var(--whiteOne);
}

.app-container .app-landing .page nav .right .vertical_line {
  height: 30px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 25px;
}

.app-container .app-landing .page nav .right .notify {
  margin-right: 25px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.app-container .app-landing .page nav .right .notify:hover {
  color: var(--whiteOne);
}

.app-container .app-landing .page nav .right .notify.active {
  color: var(--whiteOne);
}

.app-container .app-landing .page nav .right .notifications {
  position: absolute;
  z-index: 1000;
  width: 350px;
  top: 85px;
  right: 200px;
  border-radius: 8px;
  background-color: #202020;
  -webkit-box-shadow: var(--softShadows);
          box-shadow: var(--softShadows);
  padding: 30px 25px;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  display: none;
}

.app-container .app-landing .page nav .right .notifications .line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px 0;
}

.app-container .app-landing .page nav .right .notifications .no_notif {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

.app-container .app-landing .page nav .right .notifications .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .app-landing .page nav .right .notifications .header h2 {
  color: var(--whiteOne);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.app-container .app-landing .page nav .right .notifications .header .closeBtn {
  color: var(--whiteOne);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.app-container .app-landing .page nav .right .notifications .header .closeBtn:hover {
  color: var(--whiteOne);
}

.app-container .app-landing .page nav .right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .app-landing .page nav .right form input {
  text-align: right;
  outline: none;
  height: 30px;
  width: 175px;
  border-radius: 40px 0 0 40px;
  background-color: var(--whiteDim);
  letter-spacing: 1px;
  padding: 20px 10px 20px 20px;
  border: none;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
}

.app-container .app-landing .page nav .right form button {
  padding: 20px 20px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 0 40px 40px 0;
  background-color: var(--whiteDim);
  border: none;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.app-container .app-landing .page .content {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  overflow: hidden;
  overflow-y: auto;
}

.app-container .app-landing .page .content .featured {
  position: relative;
  width: 100%;
  height: 350px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: url("../Images/Default_Thumbnails/fallback_banner_image_udlite.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .app-landing .page .content .featured .welcome {
  position: absolute;
  bottom: 50px;
  width: 400px;
  border-radius: 10px;
}

.app-container .app-landing .page .content .featured .welcome h3 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 25px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.app-container .app-landing .page .content .featured .welcome p {
  margin: 15px 0;
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.app-container .app-landing .page .content .featured .welcome button {
  margin-top: 15px;
  cursor: pointer;
  padding: 12px 25px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  background: transparent;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.app-container .app-landing .page .content .featured .welcome button:hover {
  background: rgba(0, 0, 0, 0.75);
  color: var(--whiteOne);
}

.app-container .app-landing .page .content .all-courses {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 50px;
}

.app-container .app-landing .page .content .all-courses .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .app-landing .page .content .all-courses .title .heading {
  text-decoration: none;
  color: var(--whiteOne);
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

.app-container .app-landing .page .content .all-courses .courses {
  width: 100%;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.app-container .app-landing .page .content .all-courses .courses .course-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app-container .app-landing .page .content .all-courses .courses .course-row .course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(95% / 3);
  border-radius: 10px;
  margin-bottom: 27.5px;
  cursor: pointer;
}

.app-container .app-landing .page .content .all-courses .courses .course-row .course .thumbnail {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 175px;
  border-radius: 10px;
  -webkit-box-shadow: var(--insetHardShadows);
          box-shadow: var(--insetHardShadows);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.app-container .app-landing .page .content .all-courses .courses .course-row .course .thumbnail .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--insetHardShadows);
          box-shadow: var(--insetHardShadows);
}

.app-container .app-landing .page .content .all-courses .courses .course-row .course .thumbnail .overlay i {
  opacity: 0;
}

.app-container .app-landing .page .content .all-courses .courses .course-row .course .thumbnail .overlay:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.app-container .app-landing .page .content .all-courses .courses .course-row .course .thumbnail .overlay:hover i {
  opacity: 1;
  -webkit-animation: L-R 0.5s alternate ease-in-out infinite;
          animation: L-R 0.5s alternate ease-in-out infinite;
}

.app-container .app-landing .page .content .all-courses .courses .course-row .course .thumbnail .cs_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 45px;
  border-top: 1px solid var(--whiteDim);
  border-radius: 0 0 10px 10px;
  background-color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--whiteOne);
  font-family: "Poppins", sans-serif;
}

.app-container .app-landing .page .content .all-courses .courses .course-row .course .info {
  width: 100%;
  border-radius: 10px;
  padding-top: 40px;
}

.app-container .app-landing .page .content .all-courses .courses .course-row .course .info h2 {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--whiteOne);
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.app-container .app-landing .page .content .all-courses .courses .course-row .course .info .description {
  width: 100%;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.app-container .app-landing .page .content .all-courses .courses .course-row .course .info .creator {
  margin-top: 10px;
  width: 100%;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
}

.courseContentContainer {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  overflow: hidden;
  overflow-y: auto;
}

.courseContentContainer .banner {
  position: relative;
  width: 100%;
  height: 375px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0))), url("../Images/Default_Thumbnails/pexels-anna-nekrashevich-6801648.jpg");
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0)), url("../Images/Default_Thumbnails/pexels-anna-nekrashevich-6801648.jpg");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: var(--insetSoftShadows);
          box-shadow: var(--insetSoftShadows);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courseContentContainer .banner .welcome {
  position: absolute;
  top: 50px;
  width: 400px;
  border-radius: 10px;
}

.courseContentContainer .banner .welcome h3 {
  color: var(--whiteOne);
  font-size: 25px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.courseContentContainer .banner .welcome p {
  margin: 25px 0;
  color: var(--whiteOne);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.courseContentContainer .banner .welcome p.categories {
  color: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  margin: 10px 0;
  letter-spacing: 1px;
}

.courseContentContainer .banner .welcome p.categories .mainPage,
.courseContentContainer .banner .welcome p.categories .category {
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-weight: 400;
}

.courseContentContainer .banner .welcome p.categories .mainPage:hover,
.courseContentContainer .banner .welcome p.categories .category:hover {
  color: var(--whiteOne);
}

.courseContentContainer .banner .welcome p.categories .seperator {
  padding: 0 5px;
}

.courseContentContainer .banner .welcome p.subTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.courseContentContainer .banner .welcome button {
  margin-top: 15px;
  width: 100px;
  height: 40px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--whiteDim);
  color: var(--whiteOne);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  background: transparent;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.courseContentContainer .banner .welcome button i {
  -webkit-animation: float 0.5s alternate ease-in-out infinite;
          animation: float 0.5s alternate ease-in-out infinite;
}

.courseContentContainer .enrolled {
  position: relative;
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
}

.courseContentContainer .enrolled .left-side {
  width: calc(2 * (100% / 3));
  height: 100%;
  padding: 25px;
  padding-left: 0;
}

.courseContentContainer .enrolled .left-side .box {
  width: 100%;
  border: 1px solid var(--whiteDim);
  padding: 40px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.courseContentContainer .enrolled .left-side .box h2 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid var(--whiteDim);
  margin-bottom: 20px;
}

.courseContentContainer .enrolled .left-side .box h3 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid var(--whiteDim);
  margin-bottom: 20px;
}

.courseContentContainer .enrolled .left-side .box .txt {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.courseContentContainer .enrolled .left-side .box video {
  width: 100%;
  height: 300px;
  border-radius: 7px;
}

.courseContentContainer .enrolled .left-side .box video[poster] {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.courseContentContainer .enrolled .left-side .box ul {
  width: 100%;
  padding-left: 17px;
}

.courseContentContainer .enrolled .left-side .box ul li {
  width: 75%;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 10px 0;
  list-style-type: circle;
}

.courseContentContainer .enrolled .left-side .box .course-description {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 25px;
}

.courseContentContainer .enrolled .left-side .instructor {
  margin-top: 50px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courseContentContainer .enrolled .left-side .instructor .info {
  width: 50%;
}

.courseContentContainer .enrolled .left-side .instructor .authorNotes {
  width: 50%;
  border: 1px solid var(--whiteDim);
  padding: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-size: 11px;
  border-radius: 5px;
  height: 250px;
  font-style: italic;
  overflow: hidden;
}

.courseContentContainer .enrolled .left-side .instructor .authorNotes p {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.courseContentContainer .enrolled .left-side .instructor .createdBy {
  color: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  margin: 20px 0;
  letter-spacing: 1px;
}

.courseContentContainer .enrolled .left-side .instructor .author {
  font-family: "Poppins", sans-serif;
  margin: 5px 0;
}

.courseContentContainer .enrolled .left-side .instructor .accolades {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.courseContentContainer .enrolled .left-side .instructor .authorImg {
  margin-top: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.courseContentContainer .enrolled .left-side .report {
  text-decoration: line-through;
  margin-top: 50px;
  cursor: pointer;
  padding: 14px 25px;
  color: #a10000;
  border: 1px dashed var(--whiteDim);
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  outline: 0;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.courseContentContainer .enrolled .left-side .report i {
  margin-right: 5px;
}

.courseContentContainer .enrolled .left-side .report:hover {
  background-color: #a10000;
  color: var(--blackOne);
}

.courseContentContainer .enrolled .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% / 3);
  padding: 25px;
  height: auto;
  padding-right: 0;
}

.courseContentContainer .enrolled .right-side .course-content-list {
  width: 100%;
  border: 1px solid var(--whiteDim);
  padding: 40px;
  font-size: 14px;
  border-radius: 10px;
  text-transform: capitalize;
}

.courseContentContainer .enrolled .right-side .course-content-list h3 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid var(--whiteDim);
  margin-bottom: 20px;
}

.courseContentContainer .enrolled .right-side .course-content-list .content-set {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courseContentContainer .enrolled .right-side .course-content-list .content-set .content-button {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 3px 0;
  font-family: "Poppins", sans-serif;
  border: 1px solid transparent;
  padding: 15px 10px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.courseContentContainer .enrolled .right-side .course-content-list .content-set .content-button:hover {
  background-color: var(--whiteDim);
}

.courseContentContainer .enrolled .right-side .course-content-list .content-set .content-button.active {
  background-color: var(--whiteDim);
}

.courseContentContainer .enrolled .right-side .course-content-list .content-set .content-button .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 100%;
}

.courseContentContainer .enrolled .right-side .course-content-list .content-set .content-button .icon input[type="checkbox"] {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.courseContentContainer .enrolled .right-side .course-content-list .content-set .content-button p {
  width: 100%;
  height: 100%;
}

.courseContentContainer .enrolled .right-side .button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  outline: 0;
  text-transform: capitalize;
  background-color: var(--whiteDim);
  border: 0;
  color: var(--blackOne);
  padding: 15px;
}

.courseContentContainer .enrolled .right-side .button i {
  margin-right: 5px;
}

.courseContentContainer .notEnrolled {
  position: relative;
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  display: none;
}

.courseContentContainer .notEnrolled .left-side {
  width: calc(2 * (100% / 3));
  height: 100%;
  padding: 25px;
  padding-left: 0;
}

.courseContentContainer .notEnrolled .left-side .box {
  width: 100%;
  border: 1px solid var(--whiteDim);
  padding: 40px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.courseContentContainer .notEnrolled .left-side .box h2 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid var(--whiteDim);
  margin-bottom: 20px;
}

.courseContentContainer .notEnrolled .left-side .box ul {
  width: 100%;
  padding-left: 17px;
}

.courseContentContainer .notEnrolled .left-side .box ul li {
  width: 75%;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 10px 0;
  list-style-type: circle;
}

.courseContentContainer .notEnrolled .left-side .box .course-description {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 25px;
}

.courseContentContainer .notEnrolled .left-side .box .obj-set {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courseContentContainer .notEnrolled .left-side .box .obj-set .objective {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 10px 0;
}

.courseContentContainer .notEnrolled .left-side .box .obj-set .objective span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 20px;
  height: 100%;
}

.courseContentContainer .notEnrolled .left-side .box .obj-set .objective p {
  width: 100%;
  height: 100%;
}

.courseContentContainer .notEnrolled .left-side .instructor {
  margin-top: 50px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courseContentContainer .notEnrolled .left-side .instructor .info {
  width: 50%;
}

.courseContentContainer .notEnrolled .left-side .instructor .authorNotes {
  width: 50%;
  border: 1px solid var(--whiteDim);
  padding: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-size: 11px;
  border-radius: 5px;
  height: 250px;
  font-style: italic;
  overflow: hidden;
}

.courseContentContainer .notEnrolled .left-side .instructor .authorNotes p {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.courseContentContainer .notEnrolled .left-side .instructor .createdBy {
  color: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  margin: 20px 0;
  letter-spacing: 1px;
}

.courseContentContainer .notEnrolled .left-side .instructor .author {
  font-family: "Poppins", sans-serif;
  margin: 5px 0;
}

.courseContentContainer .notEnrolled .left-side .instructor .accolades {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.courseContentContainer .notEnrolled .left-side .instructor .authorImg {
  margin-top: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.courseContentContainer .notEnrolled .left-side .report {
  text-decoration: line-through;
  margin-top: 50px;
  cursor: pointer;
  padding: 14px 25px;
  color: #a10000;
  border: 1px dashed var(--whiteDim);
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  outline: 0;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.courseContentContainer .notEnrolled .left-side .report i {
  margin-right: 5px;
}

.courseContentContainer .notEnrolled .left-side .report:hover {
  background-color: #a10000;
  color: var(--blackOne);
}

.courseContentContainer .notEnrolled .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% / 3);
  padding: 25px;
  padding-right: 0;
}

.courseContentContainer .notEnrolled .right-side .includes {
  width: 100%;
  border: 1px solid var(--whiteDim);
  padding: 40px;
  font-size: 14px;
  border-radius: 10px;
  text-transform: capitalize;
}

.courseContentContainer .notEnrolled .right-side .includes h3 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid var(--whiteDim);
  margin-bottom: 20px;
}

.courseContentContainer .notEnrolled .right-side .includes .include-set {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courseContentContainer .notEnrolled .right-side .includes .include-set .include-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
}

.courseContentContainer .notEnrolled .right-side .includes .include-set .include-item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 100%;
}

.courseContentContainer .notEnrolled .right-side .includes .include-set .include-item p {
  width: 100%;
  height: 100%;
}

.courseContentContainer .notEnrolled .right-side button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  outline: 0;
  text-transform: capitalize;
  border: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.courseContentContainer .notEnrolled .right-side button.enroll-enabled {
  background-color: transparent;
  border: 1px solid var(--whiteDim);
  color: var(--whiteOne);
}

.courseContentContainer .notEnrolled .right-side button.enroll-enabled i {
  padding-right: 90px;
  font-size: 12px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  position: absolute;
  -webkit-animation: L-R 0.5s alternate ease-in-out infinite;
          animation: L-R 0.5s alternate ease-in-out infinite;
}

.courseContentContainer .notEnrolled .right-side button.enroll-enabled:hover {
  border: 1px solid var(--muddyBlue);
  background-color: var(--muddyBlue);
}

.courseContentContainer .notEnrolled .right-side button.enroll-enabled:hover i {
  opacity: 1;
}

#homePage,
#userCourses {
  display: none;
}
/*# sourceMappingURL=landing.css.map */