@import url("./universal.css");
.main {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #0D3059;
  -webkit-box-shadow: var(--softShadows);
          box-shadow: var(--softShadows);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .logo img {
  height: 100%;
}

#userImage {
  height: 100%;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  overflow: auto;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #133E70;
  -webkit-box-shadow: var(--hardShadows);
          box-shadow: var(--hardShadows);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  color: white;
  height: 70px;
  width: 100%;
  padding: 15px;
  /* line-height: 70px; */
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Montserrat", sans-serif;
}

.sidebar header .txt {
  margin-left: 10px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.sidebar header .txt h3 {
  font-size: 12px;
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebar header .txt p {
  font-size: 8px;
  font-weight: bold;
  color: #9fd590;
}

.sidebar a {
  display: block;
  padding: 18px 30px;
  width: 100%;
  color: white;
  /* line-height: 65px; */
  /* padding-left: 30px; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border-bottom: 1px solid black; */
  /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
  border-left: 5px solid transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar a i {
  margin-right: 14px;
}

.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sidebar a:hover {
  border-left: 5px solid transparent;
  color: #398bf7;
  background: rgba(255, 255, 255, 0.1);
}

.sidebar a.active {
  border-left: 5px solid transparent;
  background: #242933;
  color: #398bf7;
}

.sidebar a.activehover {
  border-left: 5px solid transparent;
  background: #242933;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  cursor: pointer;
  color: white;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 18px;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#cancel {
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ .sidebar {
  left: 0;
}
/*# sourceMappingURL=portalDash.css.map */
.strname {
  margin-left: 70em;
  color: #f0f0f0;
}
.contents {
  padding-left: 6%;
}
.grids {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;  
}
.grids > .text-box{
  padding: 20px;
  overflow-y: scroll;
}
.grids > div{
  background-color: rgb(255, 255, 255);
  height: 350px;
  width: 500px;
  padding: 1em;
  margin-top: 2em;
  margin-left: 2em;
  -webkit-box-shadow: var(--softShadows);
  box-shadow: var(--softShadows);
}
.title-div {
  border: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  border-top: 2px solid rgb(216, 216, 216);
}
.desc {
  color: #757575;
}
.subinfo {
  display: grid;
  grid-template-columns: 75% 25% 100%;
  grid-auto-rows: minmax(10px, auto);
  overflow-x: hidden;
  border-bottom: 2px solid rgb(216, 216, 216);
  margin-bottom: 10px;
}
.list {
  padding-left: 20px;
}
li.active, li:hover {
  border-left: 5px solid #ffffff;
  color: #4fbbe6;
}
td {
  height: 50px;
  border-bottom: 1px solid rgb(216, 216, 216);
}
h4 {
  color: #337AB7;
}
h6 {
  font-weight: 400;
  color: #b4b4b4;
  
}
h5 {
  font-size: large;
  color: #37B9F4;
}
.stud-info > div:nth-child(odd) {
  background-color: aliceblue;
}
.piechart {
  margin-left: 120px;
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(
      pink 70deg, 
      lightblue 0 235deg, 
      orange 0);
}

.piechart {
  display: flex;
  justify-content: center;
  align-items: center;
}